@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 300;
  font-style: normal;
}
