@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1250;
  cursor: url('/cursor.svg'), auto;
  background-color: #000;
  /* padding-bottom: env(safe-area-inset-bottom); */
  margin-left: auto;
  margin-right: auto;
}
span{
  color:#61ce70;
}

@media screen and (max-width:786) {
  body{
    font-size: 70%;
  }
}